*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 4rem;
    font-size: 4rem;
    text-align: center;
}

.button{
    margin: 2rem;
}

button{
    padding: 1rem 1.5rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.result{
    text-align: center;
}

h5{
    margin: 1rem;
    font-size: 1.5rem;
}